<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <ul>
    <% if (users.length === 0) { %>
      <li>No users</li>
    <% } else { %>
      <% users.forEach(u => { %>
        <li><%= u.id %> - <%= u.name %></li>
      <% }) %>
    <% } %>
  </ul>
  <p><a href="/">Back</a></p>
</body>
</html>
